html, body {
  height: -webkit-fill-available;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: $breakpoint-lg;
  margin: 0 auto;
  padding: 0 15px;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: -webkit-fill-available;
}

main.page-content {
  flex: 1 1 auto;
  padding: 24px 0;
}

h1, h2, h2, h3, h4, h5, h6 {
  color: $color-dark;
  font-family: $base-font;
  letter-spacing: 0.1px;
  margin-top: 0;
}

h1 {
  font-weight: bold;
  font-size: 60px;
  line-height: 82px;
}

h2 {
  font-weight: bolder;
  font-size: 40px;
  line-height: 56px;
}

h3 {
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
}

h4 {

}

h5 {
  
}

h6 {
  
}

